$light-grey: #d4d4d4;

/* ProgressContainer */
.progress-bar-container {
  margin: 0 15px 50px 15px;
  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .progress-bar1 {
    border-bottom: 2px solid $light-grey;
    padding-left: 0;
    margin-bottom: 10px;
    &.progress-active {
      font-weight: 900;
    }
  }
}

/* TitleAndInfoModal */
.title-and-info + p {
    font-weight: 900;
}